@using UltraHyperOpenConference.Controllers
@using UltraHyperOpenConference.ViewModels
@using Microsoft.AspNetCore.Html
@using System.Globalization
@model UltraHyperOpenConference.ViewModels.ThemeChatViewModel

@{
    ViewData["Title"] = Model.Theme.Name;
    var error = TempData[HomeController.ErrorTempDataKey] as string;
}

@section Scripts
{
    <script src="~/js/comment-page.js" asp-append-version="true"></script>
}

@{
    Func<IEnumerable<ThemeMessageTreeLeaf>, IHtmlContent> ShowTree = null;
}

@{
    ShowTree = @<text>
                   @{
        {
            foreach (var messageLeaf in item)
            {
                if (!messageLeaf.NeedToShow)
                    continue;

                <div class="media-block">
                    <div class="media-body">

                        <div class="mar-btm">
                            <div class="list-group-horizontal">
                                <p class="mb-0 text-semibold media-heading box-inline">
                                    @if (!messageLeaf.MessageWithAuthorName.Message.IsDeleted)
                                    {
                                        <a asp-controller="User" asp-action="Index" asp-route-userId="@messageLeaf.MessageWithAuthorName.Message.UserAuthorId"><b>@messageLeaf.MessageWithAuthorName.UserName</b></a>
                                    }
                                    else
                                    {
                                        <b></b>
                                    }
                                    <a asp-controller="Messages" asp-action="Index" asp-route-messageIndex="@messageLeaf.MessageWithAuthorName.Message.Id"
                                       class="float-right btn-link text-semibold media-heading box-inline">
                                        @messageLeaf.MessageWithAuthorName.Message.Id
                                    </a>
                                </p>
                            </div>
                            <p class="text-muted text-sm d-inline">
                                @messageLeaf.MessageWithAuthorName.Message.CreationDate
                            </p>
                        </div>
                        @if (!messageLeaf.MessageWithAuthorName.Message.IsDeleted)
                        {
                            <p class="m-2 message-text">@messageLeaf.MessageWithAuthorName.Message.Text</p>
                            <div class="m-2 display-none message-edit-text-area">
                                <div class="margin-top-sm clearfix">
                                    <form asp-controller="Conference" method="POST">
                                        <input type="hidden" name="messageId" value="@messageLeaf.MessageWithAuthorName.Message.Id"/>
                                        <textarea name="messageNewText"></textarea>

                                        <div class="margin-top-sm clearfix">
                                            <button asp-action="EditComment" class="btn btn-sm btn-primary pull-right" type="submit">
                                                <i
                                                    class="fa fa-pencil fa-fw">
                                                </i> Send!
                                            </button>

                                            <button class="cancel-edit-button btn btn-sm btn-outline-primary pull-right"
                                                    type="button">
                                                <i
                                                    class="fa fa-pencil fa-fw">
                                                </i> Cancel
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        }
                        else
                        {
                            <p>
                                <i>Message was deleted</i>
                            </p>
                        }

                        @if (!messageLeaf.MessageWithAuthorName.Message.IsDeleted)
                        {
                            @if (User.Identity?.IsAuthenticated == true && !Model.IsUserBanned && !Model.Theme.IsArchived)
                            {
                                <div class="pad-ver">
                                    <a class="replay-message-button btn btn-primary btn-hover-primary" href="#">Comment</a>
                                    <a class="edit-button btn btn-primary btn-hover-primary" href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a>

                                    @if (User.IsInRole(Constants.ModerRole))
                                    {
                                        <div class="moder-block float-right">
                                            <form asp-action="RemoveMessage">
                                                <input hidden="hidden" name="messageId" value="@messageLeaf.MessageWithAuthorName.Message.Id"/>
                                                @if (messageLeaf.MessageWithAuthorName.IsBanned)
                                                {
                                                    <span class="text-danger">User is banned</span>
                                                }
                                                <button type="submit" class="btn btn-danger btn-hover-primary" href="#">
                                                    Remove
                                                </button>
                                                @if (!messageLeaf.MessageWithAuthorName.IsBanned)
                                                {
                                                    <button type="button" class="ban-user-button btn btn-danger btn-hover-primary" href="#">Ban Author</button>
                                                }
                                            </form>
                                            <input type="hidden" class="comment-user-id" value="@messageLeaf.MessageWithAuthorName.Message.UserAuthorId"/>
                                        </div>
                                    }
                                </div>
                            }

                            <hr>
                            @if (User.Identity?.IsAuthenticated == true && !Model.IsUserBanned && !Model.Theme.IsArchived)
                            {
                                <div class="display-none comment-block margin-bottom-md col-md-12 m bootstrap snippets">
                                    <div class="panel">
                                        <div class="panel-body">
                                            <form asp-controller="Conference" method="POST">
                                                <input name="parentId" value="@messageLeaf.MessageWithAuthorName.Message.Id" type="hidden"/>
                                                <textarea name="messageText" class="form-control" rows="2" placeholder="Your replay"></textarea>
                                                <div class="margin-top-sm clearfix">
                                                    <button asp-action="AnswerTo" class="btn btn-sm btn-primary pull-right" type="submit">
                                                        <i
                                                            class="fa fa-pencil fa-fw">
                                                        </i> Send!
                                                    </button>

                                                    <button class="comment-cancel-button btn btn-sm btn-outline-primary pull-right"
                                                            type="submit">
                                                        <i
                                                            class="fa fa-pencil fa-fw">
                                                        </i> Cancel
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        @if (messageLeaf.Answers != null && messageLeaf.Answers.Count != 0)
                        {
                            <!-- Comments -->
                            <div class="pl-3 border-3 border-left border-secondary">
                                @ShowTree(messageLeaf.Answers)
                            </div>
                        }

                    </div>
                </div>
            }
        }
                   }
                </text>;
}

@if (!string.IsNullOrEmpty(error))
{
    <p class="card alert-danger" style="padding: 20px;">@error</p>
}

<h1>@Model.Theme.Name</h1>

@if (Model.IsUserBanned)
{
    <p class="text-danger">You are excluded until @DateTime.Now.AddTicks(Model.UserBanTime.Ticks).ToString("G", CultureInfo.InvariantCulture)</p>
}

@if (!Model.Theme.IsArchived)
{
@if (User.IsInRole(Constants.ModerRole) && !Model.IsUserBanned)
{
    <a asp-action="ArchiveTheme" asp-route-themeId="@Model.Theme.Id" class="btn btn-danger m-2 p-2">Archive Theme</a>
}
}
else
{
    <p class="text-black-50">Theme was archived!</p>
}


<div class="panel">
    @if (Model.Chats?.NeedToShow == true)
    {
        @ShowTree(new List<ThemeMessageTreeLeaf>() { Model.Chats })
    }
    else
    {
        <p>All messages in conference was deleted!</p>
    }
</div>

@if (User.IsInRole(Constants.ModerRole))
{
    <form method="POST">
        <div id="banModal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Days</p>
                        <input type="numer" name="banTimeDays"/>
                        <p>Hours</p>
                        <input type="numer" name="banTimeHours"/>
                        <p>Minutes</p>
                        <input type="numer" name="banTimeMinutes"/>
                        <p>Seconds</p>
                        <input type="numer" name="banTimeSeconds"/>
                        <p>Reason</p>
                        <input type="text" name="reasonText"/>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="userId" id="input-user-ban-id"/>
                        <input type="hidden" name="redirectThemeId" value="@Model.Theme.Id"/>
                        <button asp-action="BanUser" type="submit" class="btn btn-primary">Ban</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
}