@using UltraHyperOpenConference.Controllers
@using UltraHyperOpenConference.ViewModels
@using Microsoft.AspNetCore.Html
@model UltraHyperOpenConference.ViewModels.ThemeChatViewModel

@{
    ViewData["Title"] = "Login";
    var error = TempData[HomeController.ErrorTempDataKey] as string;
}

@section Scripts
{
    <script src="~/js/comment-page.js" asp-append-version="true"></script>
}

@{
    Func<IEnumerable<ThemeMessageTreeLeaf>, IHtmlContent> ShowTree = null;
}

@{
    ShowTree = @<text>
                   @{
        {
            foreach (var messageLeaf in item)
            {
                <div class="media-block">
                    <div class="media-body">

                        <div class="mar-btm">
                            <div class="list-group-horizontal">
                                <p class="mb-0 text-semibold media-heading box-inline">
                                    <b>@messageLeaf.MessageWithAuthorName.UserName</b>
                                    <a href="#"
                                       class="float-right btn-link text-semibold media-heading box-inline">
                                        @messageLeaf.MessageWithAuthorName.Message.Id
                                    </a>
                                </p>
                            </div>
                            <p class="text-muted text-sm d-inline">
                                <i class="fa fa-mobile fa-lg"></i>@messageLeaf.MessageWithAuthorName.Message.CreationDate
                            </p>
                        </div>
                        @if (User.Identity?.IsAuthenticated == true)
                        {
                            <p>@messageLeaf.MessageWithAuthorName.Message.Text</p>

                            <div class="pad-ver">
                                <a class="replay-message-button btn btn-primary btn-hover-primary" href="#">Comment</a>
                                @if (User.IsInRole(Constants.ModerRole))
                                {
                                    <div class="float-right">
                                        <a class="btn btn-danger btn-hover-primary" href="#">Remove</a>
                                        <a class="btn btn-danger btn-hover-primary" href="#">Ban Author</a>
                                    </div>
                                }
                            </div>
                        }

                        <hr>
                        @if (User.Identity?.IsAuthenticated == true)
                        {
                            <div class="display-none comment-block margin-bottom-md col-md-12 m bootstrap snippets">
                                <div class="panel">
                                    <div class="panel-body">
                                        <textarea class="form-control" rows="2" placeholder="Your replay"></textarea>
                                        <div class="margin-top-sm clearfix">
                                            <button class="btn btn-sm btn-primary pull-right" type="submit">
                                                <i
                                                    class="fa fa-pencil fa-fw">
                                                </i> Send!
                                            </button>
                                            <button class="comment-cancel-button btn btn-sm btn-outline-primary pull-right"
                                                    type="submit">
                                                <i
                                                    class="fa fa-pencil fa-fw">
                                                </i> Cancel
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <!-- Comments -->
                        <div class="inner-comments">
                            @if (messageLeaf.Answers != null && messageLeaf.Answers.Count != 0)
                            {
                                ShowTree(messageLeaf.Answers);
                            }
                        </div>

                    </div>
                </div>
            }
        }
                   }
                </text>;
}

@if (!string.IsNullOrEmpty(error))
{
    <p class="card alert-danger" style="padding: 20px;">@error</p>
}

<h1>@Model.Theme.Name</h1>

<div class="panel">
    @ShowTree(new List<ThemeMessageTreeLeaf>() { Model.Chats })
</div>