@using UltraHyperOpenConference.Extensions
@model UltraHyperOpenConference.ViewModels.UserDetailViewModel

@{
    ViewData["Title"] = $"Message - {Model.User.Name}";
}

@{
    Func<(MessageWithUserName, bool), IHtmlContent> ShowMessage = null;
}

@{
    ShowMessage = @<text>
                      @{
                          var message = item.Item1;
                          var isMain = item.Item2;

                          <div class="media-block">
                              <div class="media-body">
                                  <div class="mar-btm">
                                      <div class="list-group-horizontal">
                                          <p class="mb-0 text-semibold media-heading box-inline">
                                              @if (!message.Message.IsDeleted)
                                              {
                                                  <a asp-controller="User" asp-action="Index" asp-route-userId="@message.Message.UserAuthorId"><b>@message.UserName</b></a>
                                              }
                                              else
                                              {
                                                  <b></b>
                                              }
                                              <a asp-controller="Messages" asp-action="Index" asp-route-messageIndex="@message.Message.Id"
                                                 class="float-right btn-link text-semibold media-heading box-inline">
                                                  @message.Message.Id
                                              </a>
                                          </p>
                                      </div>
                                      <p class="text-muted text-sm d-inline">
                                          @message.Message.CreationDate
                                      </p>
                                  </div>
                                  @if (!message.Message.IsDeleted)
                                  {
                                      <p>@message.Message.Text</p>
                                  }
                                  else
                                  {
                                      <p>
                                          <i>Message was deleted</i>
                                      </p>
                                  }

                                  @if (!message.Message.IsDeleted && isMain && User.IsInRole(Constants.ModerRole))
                                  {
                                      <div class="pad-ver">
                                          <div class="moder-block float-right">
                                              <form asp-controller="Conference" asp-action="RemoveMessage">
                                                  <input hidden="hidden" name="messageId" value="@message.Message.Id"/>
                                                  @if (message.IsBanned)
                                                  {
                                                      <span class="text-danger">User is banned</span>
                                                  }
                                                  <button type="submit" class="btn btn-danger btn-hover-primary" href="#">
                                                      Remove
                                                  </button>
                                                  @if (!message.IsBanned)
                                                  {
                                                      <button type="button" class="ban-user-button btn btn-danger btn-hover-primary" href="#">Ban Author</button>
                                                  }
                                              </form>
                                              <input type="hidden" class="comment-user-id" value="@message.Message.UserAuthorId"/>

                                          </div>
                                      </div>
                                  }

                                  <hr>

                              </div>
                          </div>
                      }
                   </text>;
}
<ul>
    <li>Id - @Model.User.Id</li>
    <li>Name - @Model.User.Name</li>
    @if (!Model.User.IsActive)
    {
        <li>Not Approved</li>
    }
    @if (Model.User.IsModer)
    {
        <li>Moderator</li>
    }
    @if (Model.IsBanned)
    {
        <li class="text-danger">Unban in - @Model.LastBan.GetUnbanTime().ToString("G")</li>
    }
</ul>

<h4>All messages:</h4>
@foreach (var message in Model.Messages)
{
    if (!message.Message.IsDeleted)
    {
        @ShowMessage((message, true))
    }
}


@if (User.IsInRole(Constants.ModerRole))
{
    <form method="POST">
        <div id="banModal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Days</p>
                        <input type="numer" name="banTimeDays"/>
                        <p>Hours</p>
                        <input type="numer" name="banTimeHours"/>
                        <p>Minutes</p>
                        <input type="numer" name="banTimeMinutes"/>
                        <p>Seconds</p>
                        <input type="numer" name="banTimeSeconds"/>
                        <p>Reason</p>
                        <input type="text" name="reasonText"/>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="userId" id="input-user-ban-id"/>
                        <button asp-controller="User" asp-action="BanUser" type="submit" class="btn btn-primary">Ban</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
}